{% extends 'main.html' %} {% block content %}
<main class="wrapper home py-12">
  <div class="content">
    <form action="" method="post">
      <div>
        <label for="">Form name</label>
        <input type="text" name="form_name" required />
      </div>
      <div class="flex flex-ai-c flex-jc-sb" style="margin-top: 12px">
        <div>
          <label for="">Start date</label>
          <input type="date" name="start_date" required />
        </div>
        <div>
          <label for="">End date</label>
          <input type="date" name="end_date" required />
        </div>
      </div>
      <div class="submit">
        <button>create</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}
