@use '../utils' as *;

h1,
h2,
h3 {
  margin-top: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

h1 {
  font-size: clamp(rem(28), rem(16) + 2vw, rem(46));
}
h2 {
  font-size: clamp(rem(22), rem(14) + 1.5vw, rem(32));
}
h3 {
  font-size: clamp(rem(22), rem(12) + 1.5vw, rem(22));
}

p {
  margin-top: 0;
}
